{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
      <div class="col-md-12">
         <div class="touch">
           <div class="card text-center">
             <div class="card-body">
               <h5 class="text-center">จัดทำโดย</h5>
               <p><b>ชื่อ</b> : นาย ศิระณัฐชพงศ์ ฤกษ์ศิริ <b>รหัสนิสิต</b> : 62102010190</p>
               <p><b>รายวิชา CP353 Web Technology</b></p>
           </div>
         </div>
       </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}