{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-12">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">Current Weather</h5>
          <div class="text-center">
            <form>
              <input type="text" name="city" placeholder="weather search">
              <input type="submit" value="Submit">
            </form>
          <br/>
          <p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
          <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" alt="weather_icon" width="50" height="50">
          <p>Weather: {{weather.description}} | Temperature: {{weather.temperature}}&#8451</p>
          <p>Pressure: {{weather.pressure}} | Humidity: {{weather.humidity}} | Wind speed: {{weather.wind}}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="touch">
        <div class="card text-left">
          <div class="card-body">
            <h5 class="text-center"> Covid-19 News </h5>
            <div class="row">
              {% for i in news %}
              <div class="col-md-4 mt-2">
                <div class="card">
                  <img class="card-img-top" src="{{i.img}}" alt="Card image cap">
                  <div class="card-body">
                    <h5>{{i.title}}</h4>
                      <p class="card-text text">{{i.description }}</p>
                      <br>
                  </div>
                  <div class="text-right mr-2 mb-3">
                    <a href="{{ i.link }}" class="text-left btn btn-outline-primary btn-lg">Read more</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}